* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jua', sans-serif;
}

input:focus, textarea:focus {
    outline: none;
}

/* body 스타일 */
body {
    width: 100%;
}

.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    width: 100%;
    height: 70px;
    text-align: center;
    background-color: #00d1b2;
    z-index: 99999
}

.title_name {
    font-size: 30px;
    padding-left: 30px;
    color: white;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav {
    width: 100%;
    height: 200px;
    background-color: #00d1b2;
    z-index: 99998
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    min-width: 500px;
    max-width: 800px;
    margin: 200px auto 30px auto;
    height: 100%;
}

.div1 {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    margin: 20px 10px 0px 10px;
}

#user_nickname {
    font-size: 1rem;
    font-weight: bold;
}

.div1 .mypageBtn {
    margin: 0 0.3em 0 1em;
}

.write-form {
    width: 100%;
}

.title-input {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 1em;
}

.title-input span {
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 0.8em;
}

#title {
    width: 100%;
    font-size: 1.1rem;
    padding: 0.3em;
    border-radius: 4px;
    border: 0.5px solid lightgrey;
}

textarea {
    resize: none;
    width: 100%;
    height: 32vh;
    overflow: auto;
    margin-bottom: 1em;
    border-radius: 4px;
    border: 0.5px solid lightgrey;
    font-size: 1rem;
    padding: 0.5em;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    transition: all 0.3s ease 0s;
}

.btn {
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #00d1b2;
    transition: all 0.6s ease 0s;
    font-weight: bold;
    color: white;
    margin-left: 10px;
}

.write_btn:hover {
    cursor: pointer;
    transform: translateY(-5px);
}

.btns {
    transition: all 0.3s ease 0s;
    cursor: pointer;
    font-size: 15px;
    margin-left: 10px;
    text-align: center;
    width: 80px;
    height: 30px;
}

.btns:hover {
    color: white;
    border: none;
    width: 85px;
    font-size: 16px;
    transform: translateY(-2px);
    font-weight: bold;
}

button:hover {
    border: none;
    transform: translateY(-0.2em);
}

.img-form {
    display: flex;
    margin-bottom: 1em;
}

#preview {
    display: block;
    width: 50%;
    margin-left: 0.5em;
}