{% extends 'base.html' %} {% block content %}
<section class="box login-form">
  <h3 class="title is-3">Login</h3>

  <div class="field">
    <div class="control">
      <input class="input input-userID" placeholder="Enter your ID" />
    </div>
    <p id="help-id-login" class="help is-danger"></p>
  </div>

  <div class="field">
    <div class="control">
      <input
        class="input input-userPW"
        type="password"
        placeholder="Enter your PW"
      />
    </div>
    <p id="help-password-login" class="help is-danger"></p>
  </div>

  <div class="btn-container">
    <button
      class="button is-primary"
      onclick="window.location.href='/registerPage'"
    >
      Join
    </button>
    <button class="button is-primary" onclick="signIn()">Sign in</button>
  </div>
</section>
{% endblock %}
