<!doctype html>
<html lang="en">
<head>

    <!-- Webpage Title -->
    <title>mypage</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <link rel="stylesheet" href="/static/css/mypage.css">

    <script>
        var mypagePwValidate = false;
        var mypagePwCheckValidate = false;
        var mypageAddressValidate = true;

        // var zipnumValidate = $('#userZipcode').val();

        function updateInfo() {
            if (mypagePwValidate == false) {
                $("#mypagepw").focus();
                return;
            } else if (mypagePwCheckValidate == false) {
                $("#mypagepw2").focus();
                return;
            } else if (mypageAddressValidate == false) {
                $("#mypageDetailAddress").focus();
                return;
            } else {
                $.ajax({
                    type: "POST",
                    url: "/api/updateMember",
                    data: {
                        pw_give: $('#mypagepw').val(),
                        zipcode_give: $('#mypageZipcode').val(),
                        address_give: $('#mypageAddress').val(),
                        detail_give: $('#mypageDetailAddress').val(),
                    },
                    success: function (response) {
                        if (response['result'] == 'success') {
                            alert('회원정보가 수정되었습니다.')
                            $.removeCookie('mytoken')
                            window.location.href = '/login'
                        }
                    }
                })
            }

        }

        function mypagePwValidation() {
            var pwRegExp = /^(?=.*\d)(?=.*[a-zA-Z])[0-9a-zA-Z!@#$%^&*]{8,20}$/;
            _pw = $('#mypagepw').val()
            if (_pw === '') {
                $('#messageMypagePW').text('비밀번호를 입력해주세요').removeClass("is-safe").addClass("is-danger");
                mypagePwValidate = false;
                return;
            }

            if (!pwRegExp.test(_pw)) {
                $('#messageMypagePW').text('영문과 숫자 조합의 8-20자의 비밀번호를 설정해주세요. 특수문자(!@#$%^&*)도 사용 가능합니다.').removeClass("is-safe").addClass("is-danger");
                $("#mypagepw").focus();
                mypagePwValidate = false;
                return;
            } else {
                $('#messageMypagePW').text('사용가능한 비밀번호입니다.').addClass("is-safe").removeClass("is-danger");
                mypagePwValidate = true;
            }
        }

        function mypagePwCheck() {
            var _pw = $('#mypagepw').val();
            var _pwCheck = $('#mypagepw2').val();
            if (_pwCheck === '') {
                $('#messageMypagePW2').text('비밀번호확인은 필수입니다').removeClass("is-safe").addClass("is-danger");
                mypagePwCheckValidate = false;
                return;
            }
            if (_pw === _pwCheck) {
                $('#messageMypagePW2').text('비밀번호가 일치합니다').addClass("is-safe").removeClass("is-danger");
                mypagePwCheckValidate = true;
            } else {
                $('#messageMypagePW2').text('비밀번호가 일치하지 않습니다').removeClass("is-safe").addClass("is-danger");
                mypagePwCheckValidate = false;
                return;
            }
        }

        function findAddress2() {
            daum.postcode.load(function () {
                new daum.Postcode({
                    oncomplete: function (data) {
                        var addr = '';

                        if (data.userSelectedType == 'R') {
                            addr = data.roadAddress;
                        } else {
                            addr = data.jibunAddress;
                        }

                        document.getElementById('mypageZipcode').value = data.zonecode;
                        document.getElementById('mypageAddress').value = addr;

                        document.getElementById('mypageDetailAddress').focus();
                    }
                }).open();
            });
        }

        function detailAddressCheck() {
            var _detailAddress = $('#mypageDetailAddress').val();
            if (_detailAddress == '') {
                $('#messageMypageDetailAddress').text("상세주소 입력은 필수입니다.").addClass("is-danger").removeClass("is-safe");
                mypageAddressValidate = false;
            } else {
                mypageAddressValidate = true;
                $('#messageMypageDetailAddress').text("");
            }
        }

    </script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>
<body>

    <div class = "header">
      <p class="title_name">지식IN overflow <span style="font-size:50px">My Page</span></p>    
      <img src="/static/image/file_w.png" width="250px" alt="My Image" style="margin:0px 5px 8px 0px">
    </div>

<div class = "wrap">
    <div class="section has-text-centered">
        <h1 class="title" style="margin-left: 50px;">마이 페이지</h1>
        <div class="container" style="width:100%">
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label" for="userid">ID</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input type="text" class="input" id="mypageid" aria-describedby="emailHelp"
                                   value="{{ userId.id }}" readonly>
                        </div>
                        <div id="messageID" style="height: 20px; text-align: left;"></div>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label" for="mypagepw">PW</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input type="password" class="input" id="mypagepw" placeholder="My Password"
                                   onblur="mypagePwValidation()">
                        </div>
                        <div id="messageMypagePW" style="height: 20px; text-align: left;"></div>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label" for="mypagepw2">PW Check</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input type="password" class="input" id="mypagepw2" placeholder="My Password Check"
                                   onblur="mypagePwCheck()">
                        </div>
                        <div id="messageMypagePW2" style="height: 20px; text-align: left;"></div>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label" for="usernickname">NICKNAME</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input type="text" class="input" id="usernickname" value="{{ userId.nickname }}" readonly>
                        </div>
                        <div id="messageNickName" style="height: 20px; text-align: left;"></div>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label" for="userEmail">EMAIL</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input type="text" class="input" id="userEmail" value="{{ userId.email }}" readonly>
                        </div>
                        <div id="messageEmail" style="height: 20px; text-align: left;"></div>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label" for="mypageZipcode">ZIPCODE</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control" style="display: flex;">
                            <input type="text" class="input" id="mypageZipcode" placeholder="My Address" value="{{ userId.zipcode }}" readonly>
                            <button class="button is-primary" style="margin-left: 10px;" onclick="findAddress2()">주소 찾기
                            </button>
                        </div>
                        <div id="messageZipcode" style="height: 20px; text-align: left;"></div>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label" for="mypageAddress">ADDRESS</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input type="text" class="input" id="mypageAddress" placeholder="My Address" value="{{ userId.address }}" readonly>
                        </div>
                        <div style="height: 20px; text-align: left;"></div>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label" for="mypageDetailAddress">DETAIL</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input type="text" class="input" id="mypageDetailAddress" placeholder="My Detail Address" value="{{ userId.detail }}"
                                   onblur="detailAddressCheck()">
                        </div>
                        <div id="messageMypageDetailAddress" style="height: 20px; text-align: left;"></div>
                    </div>
                </div>
            </div>
            <button class="button is-primary" onclick="updateInfo()" style="margin-left: 50px;">회원정보 수정</button>
        </div>
    </div>
</div>
</body>
</html>