<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>지식 in overflow Read_page</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <link rel="stylesheet" href="../static/css/common.css">

    <style>

        .div1 {
            display: flex;
            justify-content: flex-end;
        }

        .loginBtn {
            margin: 50px;

        }
        .title_ellipsis {
            width: 100px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .contents_ellipsis {
            width: 500px;
            -webkit-line-clamp: 3; /* 라인수 */
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .buttons{
             display: flex;
             margin-top: 20px;
             justify-content:flex-end;
         }  
         #button{
             background-color: #364f6b;
             color: white;
             width: 120px; /* 크기지정 */
             height: 36px;
             transition: all 0.3s ease 0s;
             border: 1px solid #364f6b;
             border-radius: 5px;
             margin-left: 15px;

         }
         #button:hover{
             background-color: #263649;
             color: white;
             border:none;
             transform: translateY(-5px);
         }

    </style>

    <script>

        function goSearch() {

            var value = $('#searchWords').val();
            console.log('value : ' + value)

            $.ajax({
                type: "POST",
                url: "/api/search",
                data: {words_give: value},
                success: function (response) {
                    console.log('success')
                    let find_list = response['searched_list']
                    console.log('search response : ' + find_list)
                    $('#card_list').empty()
                    for (let i = 0; i < find_list.length; i++) {
                        let title = find_list[i]['title']
                        let contents = find_list[i]['contents']
                        console.log("in for[" + i + "] : " + title.toString() + " , " + contents.toString())


                        let temp_html = `<div class="card w-100 mb-3">
                                        <div class="card-body">
                                            <h5 class="card-title title_ellipsis">${title}</h5>
                                            <p class="card-text contents_ellipsis">${contents}</p>
                                        </div>
                                     </div>`

                        $('#card_list').append(temp_html)
                    }
                }
            })

        }

        function toWrite() {
            //로그인 상태 구분하여 분기 구현
            //로그인시 글쓰기 페이지 이동, 비로그인시 로그인페이지 이동
            //글쓰기 페이지 이동시, ajax를 이용하여 _id값을 갖고 이동

            window.location.href = "/write";

        }

        function toLogin() {

            window.location.href = "/login";

        }

        //update
        function update_posting() {
            let title = $('#input-title').val();
            let content = $('#textarea-content').val();
             $.ajax({
                type: "POST",
                url: "/api/update",
                data: {
                        title_give: title
                        content_give: content                        
                        },
                success: function (response) {
                    alert("success")
                    }
                }
            })
        }

    </script>

</head>


<body>

<div class="wrapper">
    <div class="has-text-centered">
        <label class="is-size-3 has-text-success">지식 in overflow</label>
    </div>
    <div class="div1">
        <button type="button" class="loginBtn btn btn-dark" onclick="toLogin()">로그인</button>
    </div>

    <div class="search_box">
        <div class="input-group mb-3">
            <input id="searchWords" class="form-control" placeholder="검색어를 입력하세요." aria-label="Recipient's username"
                   aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="goSearch()">검색</button>
        </div>
    </div>

    <div id="card_list" class="card_list">

        {% if list|length %}
            {% for item in list %}
                <div class="card w-100 mb-3">
                    <div class="card-body">
                        <h5 class="card-title title_ellipsis">{{ item.title }}</h5>
                        <p class="card-text contents_ellipsis">{{ item.contents }}</p>
                    </div>
                </div>
            {% endfor %}
        {% endif %}


        <div class="card w-100 mb-3">
            <div class="card-body">
                <h5 class="card-title title_ellipsis">dummy</h5>
                <p class="card-text contents_ellipsis">dummy</p>
            </div>
        </div>
    </div>

    <div class="div1">

        <button type="button" class="loginBtn btn btn-dark" onclick="toWrite()">글쓰기</button>
        <!-- 게시물 수정 -->
        <nav id="btns-me" class="level is-mobile" style="margin-top:2rem">
            <a class="button level-item has-text-centered is-sparta" aria-label="edit"
               onclick='$("#modal-edit").addClass("is-active")'>
                게시물 수정&nbsp;&nbsp;&nbsp;<span class="icon is-small"><i class="fa fa-pencil"
                                                                       aria-hidden="true"></i></span>
            </a>           
        </nav>
    </div>
    <!-- 게시물 수정 모달 폼-->
    <div class="modal" id="modal-edit">
        <!--background 활성화-->
        <div class="modal-background" onclick='$("#modal-edit").removeClass("is-active")'></div>
        <!--contents 활성화-->
        <div class="modal-content">
            <div class="box">
                <article class="media">
                    <div class="media-content">
                        <div class="field">
                            <label class="label" for="input-name">Title</label>
                            <p class="control">
                                <input id="input-title" class="input"placeholder="수정 할 title을 입력해 주세요." value="{{ user_info.title }}">                                      
                            </p>
                        </div>                    
                        <div class="field">
                            <label class="label" for="textarea-about">Contents</label>
                            <p class="control">
                            <textarea id="textarea-content" class="textarea" placeholder="수정 할 글을 입력해 주세요.">{{ user_info.content}}</textarea>                                      
                            </p>
                        </div>
                        <div class="buttons">
                            <button id="button" onclick="update_posting()">질문 등록</button>     
                            <button id="button" onclick='$("#modal-edit").removeClass("is-active")'>작성 취소</button>    
                        </div>                      
                    </div>
                </article>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close" onclick='$("#modal-edit").removeClass("is-active")'></button>                
    </div>
</div>
</body>
</html>