{% extends 'base.html' %} {% block content %}

<div class="section has-text-centered">
    <h1 class="join-title">회원가입</h1>
    <div class="container">
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label" for="userid">ID</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input
                                type="text"
                                class="input"
                                id="userid"
                                aria-describedby="emailHelp"
                                placeholder="My ID"
                                onblur="idCheck()"
                        />
                    </div>
                    <div id="messageID" class="is-help"></div>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label" for="userpw">PW</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input
                                type="password"
                                class="input"
                                id="userpw"
                                placeholder="My Password"
                                onblur="pwValidation()"
                        />
                    </div>
                    <div id="messagePW" class="is-help"></div>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label" for="userpw2">PW Check</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input
                                type="password"
                                class="input"
                                id="userpw2"
                                placeholder="My Password Check"
                                onblur="pwCheck()"
                        />
                    </div>
                    <div id="messagePW2" class="is-help"></div>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label" for="usernickname">NICKNAME</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input
                                type="text"
                                class="input"
                                id="usernickname"
                                placeholder="My NickName"
                                onblur="nicknameCheck()"
                        />
                    </div>
                    <div id="messageNickName" class="is-help"></div>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label" for="userEmail">EMAIL</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input
                                type="text"
                                class="input"
                                id="userEmail"
                                placeholder="My Email"
                                onblur="emailCheck()"
                        />
                    </div>
                    <div id="messageEmail" class="is-help"></div>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label" for="userZipcode">ZIPCODE</label>
            </div>
            <div class="field-body">
                <div class="field has-addons">
                    <p class="control is-expanded">
                        <input
                                class="input"
                                type="text"
                                id="userZipcode"
                                placeholder="My Address"
                                readonly
                                style="cursor: default"
                        />
                    </p>
                    <div class="control">
                        <button class="button is-primary" onclick="findAddress()">
                            주소 찾기
                        </button>
                    </div>
                    <div id="messageZipcode" class="is-help"></div>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label" for="userAddress">ADDRESS</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input
                                type="text"
                                class="input"
                                id="userAddress"
                                placeholder="My Address"
                                readonly
                        />
                    </div>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label" for="userDetailAddress">DETAIL</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input
                                type="text"
                                class="input"
                                id="userDetailAddress"
                                placeholder="My Detail Address"
                                onblur="detailAddressCheck()"
                        />
                    </div>
                    <div id="messageDetailAddress" class="is-help"></div>
                </div>
            </div>
        </div>
        <button class="button is-primary join-btn" onclick="register()">
            회원가입
        </button>
    </div>
</div>


{% endblock %}
