<!doctype html>
<html lang="en">
<head>

    <!-- Webpage Title -->
    <title>register</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <style>        

      .header{ 
         position: fixed;
         display: flex;     
         justify-content: space-between;    
         align-items: center;
         padding: 0px;
         width: 100%;
         height: 100px;   
         text-align: center; 
         font-size: 6px;    
         color: white; 
         background-color: #00d1b2;
         z-index :99999
      }  

       /* body 스타일 */
      .body{  
          display: flex;
          justify-content: center;   
          height: 900px;          
      }
      /* 내용부분body */
      .wrap{
         display:flex;
         justify-content: center;
         padding:20px;
         width: 800px; /* 크기지정 */
         height: 450px;          
         margin-top: 70px;             
      }
      .container{
          margin-bottom:50px;
      }   

      .title_name{
        font-size:27px;
        padding-left:50px;
        color:white;
      }
      .hero-body{ 
        padding: 0px;
      }

      .is-safe {
          color: #81c147;
      } 
      .is-danger {
          color: #ff0000;
      }
     button{   
     transition: all 0.3s ease 0s;
    }
     button:hover{
     background-color: #0f8a77;
     color: white;
     border:none;
     transform: translateY(-5px);
    } 
    </style>

    <script>
        var idValidate = false;
        var pwValidate = false;
        var pwCheckValidate = false;
        var nicknameValidate = false;
        var emailValidate = false;
        var addressValidate = false;

        // var zipnumValidate = $('#userZipcode').val();

        function register() {
            if (idValidate == false) {
                $("#userid").focus();
                return;
            } else if (pwValidate == false) {
                $("#userpw").focus();
                return;
            } else if (pwCheckValidate == false) {
                $("#userpw2").focus();
                return;
            } else if (nicknameValidate == false) {
                $("#usernickname").focus();
                return;
            } else if (emailValidate == false) {
                $("#userEmail").focus();
                return;
            }
                // else if (zipnumValidate == '') {
                //     $("#messageZipcode").text('주소를 입력해주세요').removeClass('is-safe').addClass('is-danger')
            // }
            else if (addressValidate == false) {
                $("#userDetailAddress").focus();
                return;
            } else {
                $.ajax({
                    type: "POST",
                    url: "/api/register",
                    data: {
                        id_give: $('#userid').val(),
                        pw_give: $('#userpw').val(),
                        nickname_give: $('#usernickname').val(),
                        email_give: $('#userEmail').val(),
                        zipcode_give: $('#userZipcode').val(),
                        address_give: $('#userAddress').val(),
                        detail_give: $('#userDetailAddress').val(),
                    },
                    success: function (response) {
                        if (response['result'] == 'success') {
                            alert('회원가입이 완료되었습니다.')
                            window.location.href = '/login'
                        }
                    }
                })
            }

        }

        //아이디 중복검사
        function idCheck() {
            var idRegExp = /^[a-zA-Z0-9]{4,12}$/;
            var _id = $('#userid').val();
            if (_id === '') {
                $('#messageID').text('아이디를 입력해주세요').removeClass("is-safe").addClass("is-danger");
                idValidate = false;
                return;
            }
            if (!idRegExp.test(_id)) {
                $('#messageID').text('올바르지 않는 입력방식입니다').removeClass("is-safe").addClass("is-danger");
                $("#userid").focus();
                idValidate = false;
                return;
            }
            $.ajax({
                type: "POST",
                url: "/api/idCheck",
                data: {
                    id_give: $('#userid').val()
                },
                success: function (response) {
                    if (response["exists"]) {
                        $('#messageID').text('이미 존재하는 아이디입니다').removeClass("is-safe").addClass("is-danger");
                        $('#userid').focus();
                        idValidate = false;
                    } else {
                        $('#messageID').text('사용가능한 아이디 입니다').addClass("is-safe").removeClass("is-danger");
                        idValidate = true;
                    }
                }
            })
        }

        function pwValidation() {
            var pwRegExp = /^(?=.*\d)(?=.*[a-zA-Z])[0-9a-zA-Z!@#$%^&*]{8,20}$/;
            var _pw = $('#userpw').val();
            if (_pw === '') {
                $('#messagePW').text('비밀번호를 입력해주세요').removeClass("is-safe").addClass("is-danger");
                pwValidate = false;
                return;
            }
            if (!pwRegExp.test(_pw)) {
                $('#messagePW').text('올바르지 않는 입력방식입니다').removeClass("is-safe").addClass("is-danger");
                $("#userpw").focus();
                pwValidate = false;
                return;
            } else {
                $('#messagePW').text('사용가능한 비밀번호입니다.').addClass("is-safe").removeClass("is-danger");
                pwValidate = true;
            }
        }

        function pwCheck() {
            var _pw = $('#userpw').val();
            var _pwCheck = $('#userpw2').val();
            if (_pwCheck === '') {
                $('#messagePW2').text('비밀번호확인은 필수입니다').removeClass("is-safe").addClass("is-danger");
                pwCheckValidate = false;
                return;
            }
            if (_pw === _pwCheck) {
                $('#messagePW2').text('비밀번호가 일치합니다').addClass("is-safe").removeClass("is-danger");
                pwCheckValidate = true;
            } else {
                $('#messagePW2').text('비밀번호가 일치하지 않습니다').removeClass("is-safe").addClass("is-danger");
                pwCheckValidate = false;
                return;
            }
        }

        //닉네임 중복검사
        function nicknameCheck() {
            var _nickname = $('#usernickname').val();
            if (_nickname === '') {
                $('#messageNickName').text('닉네임을 입력해주세요').removeClass("is-safe").addClass("is-danger");
                nicknameValidate = false;
                return;
            }
            $.ajax({
                type: "POST",
                url: "/api/nicknameCheck",
                data: {
                    nickname_give: $('#usernickname').val()
                },
                success: function (response) {
                    if (response["exists"]) {
                        $('#messageNickName').text('이미 존재하는 닉네임입니다').removeClass("is-safe").addClass("is-danger");
                        $('#usernickname').focus();
                        nicknameValidate = false;
                    } else {
                        $('#messageNickName').text('사용가능한 닉네임 입니다').addClass("is-safe").removeClass("is-danger");
                        nicknameValidate = true;
                    }
                }
            })
        }

        //이메일 유효성검사
        function emailCheck() {
            var _email = $("#userEmail").val();
            var emailRegExp = /^[A-Za-z0-9_]+[A-Za-z0-9]*[@]{1}[A-Za-z0-9]+[A-Za-z0-9]*[.]{1}[A-Za-z]{1,3}$/;
            if (_email == '') {
                $('#messageEmail').text("이메일 입력은 필수입니다.").addClass("is-danger").removeClass("is-safe");
                emailValidate = false;
                return;
            }
            if (!emailRegExp.test(_email)) {
                $('#messageEmail').text("올바르지 않는 입력방식입니다.").addClass("is-danger").removeClass("is-safe");
                emailValidate = false;
            } else {
                $('#messageEmail').text("");
                emailValidate = true;
            }
        }

        function findAddress() {
            daum.postcode.load(function () {
                new daum.Postcode({
                    oncomplete: function (data) {
                        var addr = '';

                        if (data.userSelectedType == 'R') {
                            addr = data.roadAddress;
                        } else {
                            addr = data.jibunAddress;
                        }

                        document.getElementById('userZipcode').value = data.zonecode;
                        document.getElementById('userAddress').value = addr;

                        document.getElementById('userDetailAddress').focus();
                    }
                }).open();
            });
        }

        function detailAddressCheck() {
            var _detailAddress = $('#userDetailAddress').val();
            if (_detailAddress == '') {
                $('#messageDetailAddress').text("상세주소 입력은 필수입니다.").addClass("is-danger").removeClass("is-safe");
                addressValidate = false;
            } else {
                addressValidate = true;
                $('#messageDetailAddress').text("");
            }
        }

    </script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>
<body>

    <div class = "header">
      <p class="title_name">지식IN overflow <span style="font-size:50px">Sign up</span></p>    
      <img src="./static/image/file_w.png" width="250px" alt="My Image" style="margin:0px 5px 8px 0px">
    </div>

    <div class = "body">
        <div class="wrap">
            <div class="wrapper section has-text-centered">
                <h1 class="title" style="margin-left: 50px;">회원가입 페이지</h1>
                <div class="container" style="width:100%">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label" for="userid">ID</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <input type="text" class="input" id="userid" aria-describedby="emailHelp"
                                           placeholder="My ID" onblur="idCheck()">
                                </div>
                                <p id="help-id" class="help">
                                    아이디는 4-12자의 영문과 숫자만 입력 가능합니다.
                                </p>
                                <div id="messageID" style="height: 20px; text-align: left;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label" for="userpw">PW</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <input type="password" class="input" id="userpw" placeholder="My Password"
                                           onblur="pwValidation()">
                                </div>
                                <p id="help-password" class="help">
                                    영문과 숫자 조합의 8-20자의 비밀번호를 설정해주세요.
                                    특수문자(!@#$%^&*)도 사용 가능합니다.
                                </p>
                                <div id="messagePW" style="height: 20px; text-align: left;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label" for="userpw2">PW Check</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <input type="password" class="input" id="userpw2" placeholder="My Password Check"
                                           onblur="pwCheck()">
                                </div>
                                <div id="messagePW2" style="height: 20px; text-align: left;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label" for="usernickname">NICKNAME</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <input type="text" class="input" id="usernickname" placeholder="My NickName"
                                           onblur="nicknameCheck()">
                                </div>
                                <div id="messageNickName" style="height: 20px; text-align: left;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label" for="userEmail">EMAIL</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <input type="text" class="input" id="userEmail" placeholder="My Email" onblur="emailCheck()">
                                </div>
                                <div id="messageEmail" style="height: 20px; text-align: left;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label" for="userZipcode">ZIPCODE</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control" style="display: flex;">
                                    <input type="text" class="input" id="userZipcode" placeholder="My Address" readonly>
                                    <button class="button is-primary" style="margin-left: 10px;" onclick="findAddress()">주소 찾기
                                    </button>
                                </div>
                                <div id="messageZipcode" style="height: 20px; text-align: left;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label" for="userAddress">ADDRESS</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <input type="text" class="input" id="userAddress" placeholder="My Address" readonly>
                                </div>
                                <div style="height: 20px; text-align: left;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label" for="userDetailAddress">DETAIL</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <input type="text" class="input" id="userDetailAddress" placeholder="My Detail Address"
                                           onblur="detailAddressCheck()">
                                </div>
                                <div id="messageDetailAddress" style="height: 20px; text-align: left;"></div>
                            </div>
                        </div>
                    </div>
                    <button class="button is-primary" onclick="window.location.href='/login'" style="margin-left: 50px; width: 100px;">뒤로 가기</button>
                    <button class="button is-primary" onclick="register()" style="margin-left: 50px; width: 100px;">회원가입</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>