<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지식 in overflow Write_page</title>

    <!--Google Font Import-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

    <!-- Fontawesome Icon -->
    <script src="https://kit.fontawesome.com/c5929fafa9.js" crossorigin="anonymous"></script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous">
    </script>

    <link rel="stylesheet" href="/static/css/write.css">
    <script defer src="/static/js/write.js"></script>

</head>

<body>

<div class="header">
    <p style="color:#00d1b2;">지식IN overflow</p>     
    <p class="title_name" style="margin-top:10px"> <img src="./static/image/file_w.png" width="50px" align="center" alt="My Image" style="margin:0px 5px 8px 0px">
        지식IN overflow
    </p>          
    <div class = "div1">            
        <!--<p class="user_nickname"><span id="user_nickname" style="font-weight:bold;">{{userNickname}}</span> 님 환영합니다</p>-->
        <p class="btns mypage_btn" onclick="toMypage()">마이페이지</p>
        <p class="btns logout_btn" onclick="toLogout()">로그아웃</p>
    </div>      
</div>

<div class ="body">
<div class="wrapper">
    <section class="write-form">
        <div class="title-input">
            <span>Title</span>
            <input id="title" class="question" type="text" placeholder="질문을 입력해주세요.">
        </div>
        <textarea id="contents" placeholder="궁금한 내용을 입력해주세요."></textarea>

        <!--    <div class="imgshape">
                <img id="preview" class="cardimg"/>
                <input class="chooseFile file" type="file" id="file" accept="image/*" onchange="loadFile(this)">
                            <input class="chooseFile file" type="file" id="file">
                <div class="findbtn">
                    <label for="file"><b>이미지 찾기</b></label>
                </div>
            </div> -->

        <div class="file has-name is-fullwidth img-form">

            <label class="file-label">
                <input class="chooseFile file file-input" type="file" id="file" accept="image/*"
                       onchange="loadFile(this)">
                <span class="file-cta">
                  <span class="file-icon">
                    <i class="fas fa-upload"></i>
                  </span>
                  <span class="file-label">
                    이미지 찾기
                  </span>
                </span>
                <span class="file-name"></span>
            </label>
            <img id="preview" class="cardimg is-hidden"/>
        </div>

        <div class="buttons">
            <button id="button" onclick="posting()" class="btn posting_btn">질문 등록</button>
            <button id="button" onclick="cancel()" class="btn cancle_btn">작성 취소</button>
        </div>
    </section>
</div>
</div>

</body>
</html>
